:host {
  background-color: white;
  display: flex;
}

header {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & > img {
    height: 150px;
  }

  a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;

    div {
      display: inline-block;

      img {
        display: inline-block;
        height: 30px;
        position: relative;
        top: 5px;
      }
    }
  }
}

h1 {
  font-size: 40px;
  margin-left: 10px;
}
