:host {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
header {
  color: #000;
}

h1 {
  font-size: 40px;
  margin-left: 10px;
}

img {
  height: 150px;
}