.grid {
  display: grid;
  grid-template-areas:
    "dental skin diet"
    "dental skin hair";
  
  .treatments {
    margin: 25px 0 0 50px;
    text-align: center;

    & > p:first-child {
      font-size: 30px;
      text-align: start;
    }
    
    & > div {
      text-align: start;
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .see-more-less {
    display: none;
  }

  .dental-treatments {
    color: purple;
    grid-area: dental;
  }

  .skin-treatments {
    color: darkgreen;
    grid-area: skin;
  }

  .personalized-diet {
    color: blue;
    grid-area: diet;
  }

  .hair-treatments {
    color: purple;
    grid-area: hair;
  }
}

@media screen and (max-width: 1300px) {
  .grid {
    grid-template-areas:
      "dental skin"
      "dental skin"
      "diet hair"
      "diet hair"
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-areas:
      "dental"
      "skin"
      "diet"
      "hair";

    .hideMoreTreatments {
      display: none;
    }

    .see-more-less {
      background: lightblue;
      border: 1px solid;
      border-radius: 5px;
      color: darkblue;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      margin: 20px 0 0 50px;
      padding: 2px;
      text-align: start;
      width: fit-content;

      &:hover {
        background-color: #83c5db;
      }
    }
  }
}
