<div class="grid">

  <div class="treatments dental-treatments">
    <p>DENTAL TREATMENTS</p>
    <div>
      <p>Root Canal treatments</p>
      <p>Extraction</p>
      <p>Scaling - Teeth Cleaning</p>
      <p>Filling</p>          
      <p>Wisdom Tooth Removal</p>
      <p>Dentures</p>
      <p>Teeth Whitening</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Braces - Teeth Alignment</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Children’s Dentistry</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Cosmetic Dentistry</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Gum Treatment</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Implants</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Teeth Removal</p>
      <p [class.hideMoreTreatments]="hideMoreTreatments">Smile Designing</p>
    </div>
  </div>

  <div class="treatments skin-treatments" [class.hideMoreTreatments]="hideMoreTreatments">
    <p>SKIN</p>
    <div>
      <p>ACNE Treatment</p>
      <p>Pigmentation Treatment</p>
      <p>Chemical Peels</p>
      <p>Hydrafacial</p>
      <p>Carbon Peel</p>
      <p>Vampire Facial</p>
      <p>Scar Treatment</p>
      <p>IV Glutathione Dips</p>
      <p>Microneedling</p>
      <p>PRP Face</p>
      <p>Lip Pigmentation Permanent Eyebrows</p>
    </div>
  </div>

  <div class="treatments personalized-diet" [class.hideMoreTreatments]="hideMoreTreatments">
    <p>PERSONALISED DIET</p>
    <div>
      <p>CONSULTATION BY OUR SPECIALIST FOR</p>
      <p>Acne</p>
      <p>Hairfall</p>
      <p>Thyroid</p>
      <p>Diabetes</p>
      <p>Obesity</p>
      <p>PCOD</p>
    </div>
  </div>

  <div class="treatments hair-treatments" [class.hideMoreTreatments]="hideMoreTreatments">
    <p>HAIR</p>
    <div>
      <p>PRP Hair</p>
      <p>Anti Hairfall Treatment</p>
      <p>Anti Dandruff Treatment</p>
    </div>
  </div>
  <div class="treatments see-more-less"
       (click)="hideMoreTreatments = !hideMoreTreatments">
    @if (hideMoreTreatments) {
      See more treatments...
    } @else {
      Hide more treatments...
    }
  </div>
</div>