<div>
  <div>
    <p>DENTAL TREATMENTS</p>
    <p>Root Canal treatments</p>
    <p>Extraction</p>
    <p>Scaling - Teeth Cleaning</p>
    <p>Filling</p>          
    <p>Wisdom Tooth Removal</p>
    <p>Dentures</p>
    <p>Teeth Whitening</p>
    <p>Braces - Teeth Alignment</p>
    <p>Children’s Dentistry</p>
    <p>Cosmetic Dentistry</p>
    <p>Gum Treatment</p>
    <p>Implants</p>
    <p>Teeth Removal</p>
    <p>Smile Designing</p>
  </div>

  <div>
    <p>SKIN</p>
    <p>ACNE Treatment</p>
    <p>Pigmentation Treatment</p>
    <p>Chemical Peels</p>
    <p>Hydrafacial</p>
    <p>Carbon Peel</p>
    <p>Vampire Facial</p>
    <p>Scar Treatment</p>
    <p>IV Glutathione Dips</p>
    <p>Microneedling</p>
    <p>PRP Face</p>
    <p>Lip Pigmentation Permanent Eyebrows</p>
  </div>

  <div>
    <p>PERSONALISED DIET</p>
    <p>CONSULTATION BY OUR SPECIALIST FOR</p>
    <p>Acne</p>
    <p>Hairfall</p>
    <p>Thyroid</p>
    <p>Diabetes</p>
    <p>Obesity</p>
    <p>PCOD</p>
  </div>

  <div>
    <p>HAIR</p>
    <p>PRP Hair</p>
    <p>Anti Hairfall Treatment</p>
    <p>Anti Dandruff Treatment</p>
  </div>
</div>