.grid {
  display: grid;
  grid-template-areas:
    "dental skin diet"
    "dental skin hair";
  margin-top: 50px;
  
  .treatments {
    margin-left: 100px;
    text-align: center;

    & > p:first-child {
      font-size: 30px;
      text-align: start;
    }
    
    & > div {
      text-align: start;
      p {
        font-size: 18px;
      }
    }
  }

  .dental-treatments {
    color: purple;
    grid-area: dental;
  }

  .skin-treatments {
    color: darkgreen;
    grid-area: skin;
  }

  .personalized-diet {
    color: blue;
    grid-area: diet;
  }

  .hair-treatments {
    color: purple;
    grid-area: hair;
  }
}

@media screen and (max-width: 1300px) {
  .grid {
    grid-template-areas:
      "dental skin"
      "dental skin"
      "diet hair"
      "diet hair"
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-areas:
      "dental"
      "skin"
      "diet"
      "hair";

    .treatments {
      margin-left: 150px;
    }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    .treatments {
      margin-left: 10%;
    }
  }
}
