<nav>
    <ul>
        <li><a href="#about">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">999 999 9999</a></li>
    </ul>
</nav>
<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" (click)="toggleMenu()">&#9776;</a>
  </div>