<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Clinic</title>
</head>
<body>
    <ac-header></ac-header>
    <ac-services></ac-services>
    <!-- <ac-carousel></ac-carousel> -->

    <section id="contact">
        <h2>Set an appointment</h2>
        <form id="contact-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Send Message</button>
        </form>
    </section>
    <ac-footer></ac-footer>
</body>
</html>
