<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Clinic</title>
</head>
<body>
    <ac-header></ac-header>
    <ac-services></ac-services>
    <!-- <ac-carousel></ac-carousel> -->
    <!-- <ac-footer></ac-footer> -->
    <h1>How to reach</h1>
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY_TmdG6TyzsRICCSUMTY6T4&key=AIzaSyCU83Q2O8K1fTj6ar2JcGDjlKcn5PdXtcc">
    </iframe>
</body>
</html>
