body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .background-image {
    background-image: url('/dental.jpeg');
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: green;
  margin-top: 15px;
}

iframe, h1 {
  margin-left: 50px;
  width: calc(100% - 100px);
}

@media screen and (max-width: 500px) {
  iframe, h1 {
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}